@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 30rem;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#bottom {
  top: 25px;
  left: -50%;
}

#left {
  top: -8px;
  right: 120%;
}

#right {
  top: -8px;
  left: 120%;
}

.hover-text {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding: 4px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-family: Arial;
  text-align: center;
}

.modal-content {
    backface-visibility: hidden;
}

